In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("data/regressao_Q1.csv")

In [4]:
data.head()

,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,target
0,-0.97127,-0.56128,1.20414,2.25145,-0.25802,0.06246,-1.78623,-0.27690,-0.22255,0.20963,-0.062202
1,0.89456,-0.94099,-0.19972,-0.08354,-0.96865,0.62801,0.91543,0.20413,-0.13587,0.96820,0.112596
2,-0.98777,-0.55565,-0.94141,-1.86277,0.38659,-0.02523,-1.26714,1.07328,-0.28350,0.34430,0.167633
3,0.03972,-0.99258,0.63481,0.01554,-0.39203,-0.72647,0.46098,0.79395,0.22686,0.25065,-0.844727
4,-1.66022,-0.06734,-0.72252,-1.32035,0.06715,2.39937,-1.30566,-0.65222,0.36628,0.31644,2.221942

In [7]:
from sklearn.linear_model import ElasticNet

In [8]:
regr = ElasticNet(alpha=1 , l1_ratio=0.01)

In [9]:
from sklearn import metrics

In [33]:
X = data.drop(columns=data.columns[-1],  axis=1,  inplace=False)

In [13]:
X.head()

,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10
0,-0.97127,-0.56128,1.20414,2.25145,-0.25802,0.06246,-1.78623,-0.27690,-0.22255,0.20963
1,0.89456,-0.94099,-0.19972,-0.08354,-0.96865,0.62801,0.91543,0.20413,-0.13587,0.96820
2,-0.98777,-0.55565,-0.94141,-1.86277,0.38659,-0.02523,-1.26714,1.07328,-0.28350,0.34430
3,0.03972,-0.99258,0.63481,0.01554,-0.39203,-0.72647,0.46098,0.79395,0.22686,0.25065
4,-1.66022,-0.06734,-0.72252,-1.32035,0.06715,2.39937,-1.30566,-0.65222,0.36628,0.31644

In [15]:
y = data.iloc[:,-1:]
y.head()

     target
0 -0.062202
1  0.112596
2  0.167633
3 -0.844727
4  2.221942

In [30]:
from sklearn.model_selection import cross_validate
from sklearn.model_selection import StratifiedKFold, KFold
cv = cross_validate(regr, X, y, cv=KFold(5).get_n_splits(), scoring="neg_mean_squared_error", return_train_score=True)

In [31]:
-np.mean(cv['train_score']),-np.mean(cv['test_score'])

(0.2686002837798155, 0.26918574379945676)

In [32]:
data2 = pd.read_csv("data/regressao_Q2.csv")

In [36]:
data2.head()

,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,target
0,1.92864,1.48414,0.86814,-0.67666,-0.28747,-1.45108,-0.73662,0.03134,-0.53872,1.30562,0.11557,-0.30478,127.682465
1,0.22185,-0.55320,-0.29845,0.65870,-0.30132,1.49319,-0.43096,0.33835,-0.30827,1.25765,1.88584,-0.57726,50.022972
2,-0.02183,0.13602,-0.37426,-1.29096,0.71912,1.95088,1.99309,-1.24197,-2.15377,-2.01455,-0.84625,0.29845,-24.364369
3,0.86528,1.36937,1.27999,1.18124,-0.72465,-0.02175,0.40340,-0.28272,-0.44390,0.84051,0.03326,-0.98550,96.415408
4,1.41333,-0.02920,-0.67228,1.76116,-1.12178,0.18002,0.48476,-0.76394,-0.16421,-2.42048,0.79727,-0.44033,157.407129

In [37]:
X = data2.drop(columns=data.columns[-1],  axis=1,  inplace=False)

In [38]:
X.head()

,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12
0,1.92864,1.48414,0.86814,-0.67666,-0.28747,-1.45108,-0.73662,0.03134,-0.53872,1.30562,0.11557,-0.30478
1,0.22185,-0.55320,-0.29845,0.65870,-0.30132,1.49319,-0.43096,0.33835,-0.30827,1.25765,1.88584,-0.57726
2,-0.02183,0.13602,-0.37426,-1.29096,0.71912,1.95088,1.99309,-1.24197,-2.15377,-2.01455,-0.84625,0.29845
3,0.86528,1.36937,1.27999,1.18124,-0.72465,-0.02175,0.40340,-0.28272,-0.44390,0.84051,0.03326,-0.98550
4,1.41333,-0.02920,-0.67228,1.76116,-1.12178,0.18002,0.48476,-0.76394,-0.16421,-2.42048,0.79727,-0.44033

In [51]:
y = data2["target"]
y.head()

0    127.682465
1     50.022972
2    -24.364369
3     96.415408
4    157.407129
Name: target, dtype: float64

In [45]:
from sklearn.svm import SVR

In [46]:
svc = SVR(kernel='linear', C=0.001)

In [66]:
cv = cross_validate(svc, X, y, cv=KFold(5).get_n_splits(), scoring="neg_mean_squared_error", return_train_score=True)

In [53]:
-np.mean(cv['train_score']),-np.mean(cv['test_score'])

(20199.03626401975, 20207.880173137346)

In [58]:
data3 = pd.read_csv("data/classificacao_Q1.csv")
data3.head()

,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,target
0,-1.79796,-1.75901,-2.14257,-0.01878,-0.58601,-3.08224,-1.71369,1.41805,2.29783,1.11745,-3.43483,1.94926,0
1,-2.78612,-1.60622,-4.05247,3.33814,1.44255,-3.95343,-3.32328,0.71019,2.31973,0.57596,-4.22278,0.51171,0
2,-1.31957,2.61125,-0.99663,0.34752,0.85253,4.22652,0.84765,0.88530,-1.01460,1.03488,-0.84593,2.64307,1
3,-3.26219,-2.11510,0.68081,-0.49290,-2.45122,-2.37668,-0.00338,3.95559,1.42793,1.68710,-1.35533,2.82004,0
4,5.26181,1.85527,-2.29242,-0.86763,0.11625,-2.17675,-1.72692,-2.34726,1.98107,-4.58177,-2.26649,-3.33875,1

In [55]:
X = data3.drop(columns=data.columns[-1],  axis=1,  inplace=False)

In [56]:
X.head()

,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12
0,-1.79796,-1.75901,-2.14257,-0.01878,-0.58601,-3.08224,-1.71369,1.41805,2.29783,1.11745,-3.43483,1.94926
1,-2.78612,-1.60622,-4.05247,3.33814,1.44255,-3.95343,-3.32328,0.71019,2.31973,0.57596,-4.22278,0.51171
2,-1.31957,2.61125,-0.99663,0.34752,0.85253,4.22652,0.84765,0.88530,-1.01460,1.03488,-0.84593,2.64307
3,-3.26219,-2.11510,0.68081,-0.49290,-2.45122,-2.37668,-0.00338,3.95559,1.42793,1.68710,-1.35533,2.82004
4,5.26181,1.85527,-2.29242,-0.86763,0.11625,-2.17675,-1.72692,-2.34726,1.98107,-4.58177,-2.26649,-3.33875

In [57]:
y = data3["target"]
y.head()

0    0
1    0
2    1
3    0
4    1
Name: target, dtype: int64

In [61]:
from sklearn.tree import DecisionTreeClassifier

In [62]:
clf = DecisionTreeClassifier(criterion="entropy")

In [69]:
cv = cross_validate(clf, X, y, cv=KFold(10).get_n_splits(), scoring="neg_log_loss", return_train_score=True)

In [70]:
-np.mean(cv['train_score']),-np.mean(cv['test_score'])

(2.2204460492503136e-16, 3.263953056903387)

In [72]:
data4 = pd.read_csv("data/classificacao_Q2.csv")
data4.head()

,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,target
0,-1.39917,0.96108,-0.36145,0.26092,2.78953,-1.55046,-0.79886,0.24304,1.51733,-0.03357,-1.51127,-0.97444,-0.01934,0
1,-2.48564,1.24529,-0.39431,1.06648,1.71957,-0.60296,-2.35698,-2.31878,0.95555,-2.00420,-0.75294,-3.64680,-0.55923,0
2,-0.57025,0.65495,-0.73706,0.22444,-0.44094,-0.42596,0.44267,-1.74196,-0.06599,-0.36783,0.93065,-0.72392,0.37139,0
3,2.10165,1.46236,-0.25678,2.58908,-3.40158,2.43561,0.74701,-0.65229,-0.45497,-1.57951,2.07367,1.86435,-0.37664,1
4,3.01588,-2.50913,-2.01442,2.10296,-3.05465,5.38227,0.46846,1.57586,3.02176,-0.86271,-1.14418,-0.89712,0.61823,1

In [74]:
X = data4.drop(columns=data.columns[-1],  axis=1,  inplace=False)
X.head()

,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13
0,-1.39917,0.96108,-0.36145,0.26092,2.78953,-1.55046,-0.79886,0.24304,1.51733,-0.03357,-1.51127,-0.97444,-0.01934
1,-2.48564,1.24529,-0.39431,1.06648,1.71957,-0.60296,-2.35698,-2.31878,0.95555,-2.00420,-0.75294,-3.64680,-0.55923
2,-0.57025,0.65495,-0.73706,0.22444,-0.44094,-0.42596,0.44267,-1.74196,-0.06599,-0.36783,0.93065,-0.72392,0.37139
3,2.10165,1.46236,-0.25678,2.58908,-3.40158,2.43561,0.74701,-0.65229,-0.45497,-1.57951,2.07367,1.86435,-0.37664
4,3.01588,-2.50913,-2.01442,2.10296,-3.05465,5.38227,0.46846,1.57586,3.02176,-0.86271,-1.14418,-0.89712,0.61823

In [75]:
y = data4["target"]
y.head()

0    0
1    0
2    0
3    1
4    1
Name: target, dtype: int64

In [71]:
from sklearn.linear_model import LogisticRegression

In [76]:
clf = LogisticRegression(penalty="l2", C=0.1)

In [77]:
cv = cross_validate(clf, X, y, cv=KFold(10).get_n_splits(), scoring="roc_auc", return_train_score=True)

In [78]:
-np.mean(cv['train_score']),-np.mean(cv['test_score'])

(-0.8790742238429265, -0.8768513785970302)

In [79]:
data5 = pd.read_csv("data/agrupamento.csv")
data5.head()

         x0        x1        x2        x3        x4
0  5.447043  6.319084  2.664620  6.568743  4.802295
1  4.875562  4.796801  2.154231  6.832907  5.321401
2  5.582920  5.060775  1.895917  6.004299  6.330105
3  6.370727  3.717727  1.729007  5.923414  4.533557
4  4.789262  4.510056  0.669330  7.731273  4.272356

In [80]:
from sklearn.cluster import AgglomerativeClustering

In [89]:
clustering = AgglomerativeClustering().fit(data5)

In [90]:
print(clustering.distance_threshold)

None

In [91]:
clustering.labels_

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int64)